nav{
    background-color:#131E28 ;
  
  }
  #lienhe{padding-bottom:20px; }
  #lienhe h2{text-align:center; font-weight:bold; font-size:50px; text-shadow:3px 3px 2px #dc3d24 ;}
  #lienhe h4{text-align:center; font-weight:bold; font-size:30px;}
  #lienhe p{text-align:center; font-weight:bold; font-size:20px;}
  #lienhe img{width:3%;}
  #noidung-lienhe{background-color:#131E28; padding-bottom:20px; text-align: center;}
  #noidung-lienhe h4{text-align:center; font-size:30px; color:rgb(221, 34, 34); font-style: bold;}
  #noidung-lienhe input{width:80%; line-height:25px; border-radius:5px; border:none; background-color:#e3ae57; color:#000; padding:5px;}
  #noidung-lienhe textarea{width:80%; line-height:25px; border-radius:5px; border:none; background-color:#e3ae57; color:#000; padding:5px; height:200px;}
  #noidung-lienhe #send{text-align:center; text-decoration:none; background-color: #822c1b; font-size:25px; padding:7px 12% 7px 12%; cursor:pointer; color:#e3ae57; transition: all .4s ease; border-radius:30px; box-shadow:3px 3px white;}
  #noidung-lienhe #send:hover{background-color:transparent; transition: all .4s ease; color:#f1f1f1;}


